<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{sections/header::header-fragment(title='Contacts System')}"></head>
<body class="container-fluid">
<div th:replace="~{sections/nav::nav-fragment}"></div>

<div class="container text-center m-3">
    <p class="fs-1 fw-bold">Edit Contact</p>
</div>

<div class="container">
    <form action="/edit"  th:object="${contact}" method="post">
        <input type="hidden" class="form-control" id="exampleInputId" name="idContact" th:field="*{idContact}">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="name" required min="2" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail" name="email" required min="2" th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPhoneNumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="exampleInputPhoneNumber" name="phoneNumber" required min="2" th:field="*{phoneNumber}">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning">Edit</button>
            <a href="/" class="btn btn-danger">Return</a>
        </div>
    </form>
</div>

<div th:replace="~{sections/footer::footer-fragment}"></div>
</body>
</html>